.background-body{
  border-left: 9px black solid;
  border-right: 9px black solid;
  background-image: url(https://res.cloudinary.com/dbvqy3wft/image/upload/v1692951841/Background-Black-white_tn8o2f.jpg);
  background-size: cover;
  height: 100rem;
}

.subtitle{
  height: 40px;
  width: 100%;
  background-color: white;
  color: blue;
  text-align: center;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#new{
  margin-top: 80px;
}

#sold{
  margin-top: 200px;
}

#add{
  height: 200px;
  width: 100%;
  background-color: white;
  margin-top: 550px;
}

h2{
  text-align: center;
  color: blue;
}

#advenger{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}