.card {
  color: white;
  width: 230px;
  height: 380px;
  border: 7px solid rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  padding: 17px;
  background: linear-gradient(
    to bottom,
    rgba(253, 79, 166, 0.7),
    rgba(61, 6, 226, 0.7)
  );
}

.button-buy-now-home {
  width: 80px;
  height: 35px;
  font-size: 15px;
  background-color: #3c92fa;
  color: white;
  padding: 0;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(153, 152, 152, 0.4); /* Aquí está la sombra */
  cursor: url(https://www.emp.co.uk/on/demandware.static/Sites-GLB-Site/-/en_GB/v1694394546992/images/hand.cur), pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.button-buy:hover {
  transform: scale(
    1.3
  ); /* Efecto de escala al pasar el cursor sobre el botón */
  box-shadow: 4px 4px 6px rgba(153, 152, 152, 0.4); /* Cambia la sombra al pasar el cursor */
}

.buttoms {
  /* background-color: #3c92fa; */
  display: flex;
}

/* .button-like{
    width: 25px;
    height: 50px;
  } */

  .product-card {
    position: relative;
    /* Otros estilos para tu tarjeta de producto */
  }
  
  .new-label {
    border: 2px black solid;
    position: absolute;
    top: 8px;
    /* left: 0; */
    right: 170px;
    background-color: #f99b0d; /* Color de fondo de la etiqueta */
    color: #ffffff; /* Color del texto de la etiqueta */
    padding: 5px 15px; /* Espaciado dentro de la etiqueta */
    font-size: 13px; /* Tamaño de fuente de la etiqueta */
    font-weight:bold; /* Grosor de fuente de la etiqueta */
    border-radius: 90px 90px 90px 0px; /* Borde redondeado de la etiqueta */
  }

  @media (max-width: 415px) {
   
    .card {
      width: 30px;
      height: 30px;
  }
}