Body{
  background-image: url(https://res.cloudinary.com/dbvqy3wft/image/upload/v1692951841/Background-Black-white_tn8o2f.jpg);
}

#background {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.card-customer {
  width: 20px; /* Tamaño cuadrado */
  height: 520px; /* Tamaño cuadrado */
  border: 1px solid #000000;
  padding: 10px;
  margin-right: 10px;
  background-color: #fff;
  display: flex; /* Activa el flexbox para alinear los elementos internos */
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: space-between; /* Espacio uniforme entre los elementos */
  text-align: center;
  margin-top: 5px;
}
.card-customer-group {
  display: flex;
  margin: 10px;
}
.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.delete-button,
.add-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
.delete-button:hover,
.add-button:hover {
  background-color: #ccc;
}




.image-card{
  width: 100%;
  height: 350px;
  object-fit: cover;
  }
  
  .card-img-top{
      width: 140px;
      justify-items: center;
      margin-left: 30px;
  }

.list-group-item {
 padding: 0; 
 width: 130px;
 
  
}
/* 
.button{
  width: 5px;
  height: 10px;
} */

.btn-danger {
  margin-left: 30px;
}

.btn-primary{
  margin-left: 35px;
}

